<%- include('partials/header')%>

<h1>Hakkımızda</h1>
<p>Burası hakkımızda sayfasıdır ve aynı header/footer yapısını kullanır.</p>
<p>Menüdeki bir linki değiştirmek için sadece header.ejs'i değiştirmem yeterli!</p>

<%- include('partials/footer')%>